<div id="search-overlay" class="search-overlay">
  <div class="search-overlay__inner">
    <button id="search-overlay-close" class="search-overlay__close" aria-label="Close search">
      <i class="fas fa-times"></i>
    </button>
    <div class="search-overlay__content">
      <form class="search-overlay__form">
        <input type="text" id="search-overlay-input" placeholder="Search..." aria-label="Search">
      </form>
      <div class="search-overlay__results">
        <ul id="search-overlay-results-list"></ul>
      </div>
    </div>
  </div>
</div>
